
@{
	ViewBag.Title = "Protein";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
	<h1>MORE PROTEIN PLEASE</h1>
	<p class="lead">What foods are the highest in protein?</p>
	<p>High protein foods include lean chicken, lean pork, fish, lean beef, tofu, beans, lentils, low-fat yogurt, milk, cheese, seeds, nuts, and eggs</p>
</div>

